@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* { margin:0; padding:0; }

a { text-decoration:none;
    color:black;
}

body, html { height:100%; }
body, button, input, textarea,select, table {
	font-family: "Nanum Gothic",  "Noto Sans", "맑은 고딕", "malgun gothic", "돋움", dotum, sans-serif;
	font-size:13px;
}


/*드래그 색상변경*/
::-webkit-selection { background:#c40001; color:#FFF; text-shadow:none; }
::-moz-selection { background:#c40001; color:#FFF; text-shadow:none; }
::-o-selection { background:#c40001; color:#FFF; text-shadow:none; }
::-ms-selection { background:#c40001; color:#FFF; text-shadow:none; }
::selection { background:#c40001; color:#FFF; text-shadow:none; }


/* 레이아웃 */
body { min-width:320px; }

.wrap { width:100%; display:flex; flex-direction:column; align-items:center; margin-top: 21px;  position:relative; } 

.header { width:100%; display:flex; flex-direction:column; align-items:center;justify-content:center; margin-top: 21px; }
.footer { position:relative; z-index:999; right:15px;  }


/* header - logo 스타일시트 */
.logo {
	padding-top:40px;
	width:231px;
}


/* main - login_inner 스타일시트 */
.main {
	padding-top:40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login_id {
	width: 465px;
	height :60px;
	border: solid 1px var(	--border-white-color );
	background: white;
}

.login_id input {
	width:430px;
	font-size: 14px;	
	height:50px;
}

.login_pw {
	margin-top:1px;
}

.login_pw input {
	width:430px;
	font-size: 14px;	
	height:50px;
}

.login_stay {
	width: 465px;
	font-size:14px;
	margin-top:5px;
}

.login_stay span { 
    padding-left: 5px;
	line-height: 25px;
}

.submit {
	margin-top:5px;
}

.submit input {
	width: 430px;
	height :50px;
	background:#c40001;
	color:white;
	border:none;
	cursor:pointer;
	font:14px;
	font-weight:bold;
}

.find_info {
	width:430px;
	margin:10px 0 10px -1px;
    font-size: 14px;
    display: flex;
	justify-content: space-between;
}


/* footer 스타일시트 */
.footer .info { display:inline-block; margin-top:40px; }

.footer .info li {
	float:left; margin:0 10px; position:relative;
}

.footer .info li:after {
  content:'';
  position: absolute;
  right: -10px;
  top: 3px;
  width: 1px;
  height: 10px;
  background:#000;
}

.footer .info li:last-child:after {
  display: none;
}

.footer .info li a {
  color: #000; font-size: 11px; font-weight:bold;
}

.footer .address {
  color: #000; font-size: 14px; margin-top: 20px;
}
.footer .copyright {
  color: #000; font-size: 14px; position:absolute; left:10px;
}